{% extends 'lovehome/base.html' %}
{% load staticfiles %}
{% load markdown_deux_tags %}
<html>
    <head>
        {% block local_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'lovehome/show_blog.css' %}" />
        {% endblock %} 
    </head>
    <body>
        {% block blog_nav %}
            {% if login %} 
                <a class="blog-nav-item" href="{% url 'lovehome:edit_blog' blog_data_show.id %}">EDIT</a>
                <a class="blog-nav-item" href="{% url 'lovehome:delete_blog' blog_data_show.id %}">DELETE</a>
                <a class="blog-nav-item" href="{% url 'lovehome:add_blog' %}">ABOUT</a>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown">
                        {{ username }}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'lovehome:logout' %}">Logout</a></li>
                    </ul>
                </div>
            {% else %}
                <a class="blog-nav-item" href="{% url 'lovehome:add_blog' %}">ABOUT</a>
                <a class="blog-nav-item" id="signup" href="{% url 'lovehome:signup' %}">SIGNUP</a>
                <a class="blog-nav-item" id="login"  href="{% url 'lovehome:login' %}">LOGIN</a>
            {% endif %}
        {% endblock %} 
        
        {% block blog_main%} 
            <div class="show_blog_title">
                <h2>{{ blog_data_show.title | markdown }}</h2>
            </div>
            <div class="show_blog_content">
                {{ blog_data_show.blog_content | markdown }}
            </div>
            <hr />
        {% endblock %} 
        
        {% block blog_sidebar %} 
            <h4>最新故事</h4>
            {% for blog in blog_data %} 
            <ul class="nav nav-sidebar">
                <li><a href="{% url 'lovehome:blog_page' blog.id %}">{{ blog.title}}</a></li>
            </ul>
            {% endfor %}
            <h4>时间</h4>
            {% for year in time_category%} 
            <ul class="nav nav-sidebar">
                <li><a href="{% url 'lovehome:time_category' year%}">{{ year }}</a></li>
            </ul> 
            {% endfor %}    
        {% endblock %} 
    </body>
</html>

