{% extends 'lovehome/base.html' %}
{% load staticfiles %}
{% load markdown_deux_tags %}
<html>
    <head>
        {% block local_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'lovehome/login.css' %}" />
        {% endblock %}
    </head>
    <body>
        {% block blog_nav %} 
            <a class="blog-nav-item" href="{% url 'lovehome:add_blog' %}">ABOUT</a>
        {% endblock %}

        {% block blog_main %}
            <form method="POST">
                {% csrf_token %}
                {% if signup%}
                    <p>{{ username_info }}</p>
                    <p>{{ password }}</p>
                {% else %} 
                    <p class="name">用户名</p>
                    <input type="text" name="username" value="">   
                    <p class="password">密码</p>
                    <input type="password" name="password" value="">
                    <div> 
                        <button type="submit" id="submit" class="btn btn-primary">提交</button>
                        <button type="button" id="button" class="btn btn-primary" onclick="javascript:history.go(-1)">取消</button>
                    </div>
                {% endif %}
            </form>
        {% endblock %}
    </body>
</html>
