{% extends 'lovehome/base.html' %}
{% load staticfiles %}
{% load markdown_deux_tags %}
<html>
    <head>
        {% block local_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'lovehome/front_page.css' %}" />
        {% endblock %}
    </head>
    <body>
        {% block blog_nav %} 
            {% if login %} 
                <a class="blog-nav-item" href="{% url 'lovehome:add_blog' %}">NEW STORY</a>
                <a class="blog-nav-item" href="{% url 'lovehome:add_blog' %}">ABOUT</a>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown">
                        {{ username }}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'lovehome:logout' %}">Logout</a></li>
                    </ul>
                </div>
            {% else %}
                <a class="blog-nav-item" href="{% url 'lovehome:add_blog' %}">ABOUT</a>
                <a class="blog-nav-item" id="signup" href="{% url 'lovehome:signup' %}">SIGNUP</a>
                <a class="blog-nav-item" id="login"  href="{% url 'lovehome:login' %}">LOGIN</a>
            {% endif %}
        {% endblock %}
        
        {% block blog_main %}  
            {% if blog_year %} 
                {% for blog in blog_year %} 
                <div class=blog_info>
                    <h3><a class="blog_title" href="{% url 'lovehome:blog_page' blog.id %}">{{ blog.title | markdown }}</a></h3>
                    <span class="created_time">{{ blog.b_created_time | date:"m/d/Y" }}</span>
                    <div class="blog_content">{{ blog.blog_content | markdown }}</div>
                    <hr />
                </div> 
                {% endfor %}
            {% else %}
                <P>Sorry, there is no blog right now!!!</P>
            {% endif %}
        {% endblock %} 

        {% block blog_sidebar %} 
            <p class="nav-sidebar-title">最新故事</p>
            {% for blog in blog_data %} 
            <ul class="nav nav-sidebar">
                <li><a href="{% url 'lovehome:blog_page' blog.id %}">{{ blog.title}}</a></li>
            </ul>
            {% endfor %}
            <hr />
            <p class="nav-sidebar-title">时间</p>
            {% for year in time_category%} 
            <ul class="nav nav-sidebar">
                <li><a href="{% url 'lovehome:time_category' year%}">{{ year }}</a></li>
            </ul> 
            {% endfor %}
        {% endblock %} 
    </body>
</html>
            
