body {
    font-family : "Microsoft Yahei"; 
}

h1 {
    font-size   : 60px;
    margin      : 40px 0 60px 0;
    text-align  : left; 
}

h2 {
    font-size   : 40px;
}

.blog_main {
    margin : 0 26% 0 10%;
}

.show_blog_content {
    margin : 4% 0 0 0; 
    font-size   : 16px;
}

.blog-masthead {
  background-color   : #428bca;
  -webkit-box-shadow : inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow : inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
    float       : left;
    position    : relative;
    display     : inline-block;
    padding     : 10px;
    font-weight : bold;
    color       : #CDDDEB;
}

.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration : none;
}

#signup {
    position : relative;
    left     : 75%; 
}

#login {
    position : relative;
    left     : 75%; 
}

.btn-group {
    position    : relative;
    left        : 65%;
    float       : left;
    margin      : 3px 0;
}

.btn-group a {
    left        : 62%; 
    font-weight : bold;
    color       : #CDDDEB;
}
